node_modules
# Keep environment variables out of version control
.env

/generated/prisma

# Uploads (keep folder structure but ignore files)
uploads/**/*
!uploads/.gitkeep
!uploads/photos/
!uploads/photos/original/
!uploads/photos/thumbnail/
!uploads/photos/medium/

dist/
